/*NAVEGADOR*/
*{
  margin:0px;
  padding: 0px;
}
body{

  background-position: 820px;
  background-size: 290px;
  background-repeat: no-repeat;
  background-image: url('Logo.jpg');
  width: auto;
  background-attachment: fixed;
}
.fondo_navegador{
  background-color: black;
  height: 40px;
}
#navegador {
  margin:auto;
  width:630px;
  font-family: Arial,Helvetica,sans-serif;

}

#navegador ul{
  list-style: none;
  background-color: black;
}

.nav li a{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-color: white;

}

.nav li a:hover{
  background-color: grey;
  color: white;
}

.nav > li{
  float: left;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 150px;
}

.nav li:hover > ul{
  display:block;
}
.nav li ul li{
  position: relative;
}

.nav li ul li ul{
  right:-150px;
  top:0px;

}

#Busqueda{
  padding-left: 10px;
  text-align:center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#tabla{
  border: 1px solid black;

  border-collapse: collapse;
  width: 800px;
}

#tabla td{
  border: 1px solid black;
  width: 300px;
  height: 30px;
  padding: 8px;
  /*background-color: #95D9F7;*/
}
#tabla th{
  border: 1px solid black;
  background-color: #2665D7;
  color: white;
}

.botones {
  background-color: black;
  color: white;
  text-decoration: none;
  width: 70px;
  height: 30px;
  border-style: none;
}

.botones:hover{
  background-color: grey;
}


footer{
  padding-top: 400px;
}
