/*NAVEGADOR*/
*{
  margin:0px;
  padding: 0px;
}
body{

  background-position: center;
  background-size: 290px;
  background-repeat: no-repeat;
  background-image: url('Logo.jpg');
}


footer{
  position: absolute;
  bottom: 5px;
}
#form{
  padding-left: 20px;
  text-align: left;
  padding-top: 20px;
  margin-top: 50px;
  background-color: lightblue;
  width: 370px;
  border-color: black;
  border-spacing: 5px;
  margin:left;
  height: 280px;

  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  background-position: left;
  margin-bottom:  250px;
}

#tabla{
  padding-bottom: 20px;
  width: 100%;
}


form td{
  width: 150px;
}

#cosa{
  color: #FF0000;
}

#Registrar{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 5px;
  height: 30px;
  border-style: none;
}
#Registrar:hover{
  background-color: grey;
}
#Registrar:active{
  background-color: white;
  color: black;
}
#obligatorio{
  text-align: left;
  padding-top: 10px;
}

#atras{
  margin-left: 10px;
  width: 40px;
  height: 25px;
  border-style: none;
  color: white;
  background-color: black;
}

#atras:hover{
  background-color: grey;
}

#atras:active{

  color: black;
  background-color: white;
}
